<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3661b322-62be-4357-8aec-b1b328c30918" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3661b322-62be-4357-8aec-b1b328c30918fileName">TestSuite-2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
