<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="031f49d5-6d23-46dd-89a6-be564780be09" name="Project 1 TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="031f49d5-6d23-46dd-89a6-be564780be09fileName">Project-1-TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
